@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 14px;
}

html, body { scroll-behavior: smooth; }

body {
  background-color: #f5f6fb;
  color: #0f172a;
}

/* Typography tweaks */
@layer base {
  h1, h2, h3, h4 { @apply font-semibold; }
}

